In [11]:
import pandas as pd
import pymssql

database = "group2"
table = "dbo.stock_table"
username = "group2user"
password  = "everythingIsAwesome!"
server = "database2108.database.windows.net"

conn = pymssql.connect(server,username, password,database)

cursor = conn.cursor()
query = "SELECT * FROM dbo.stock_table"
df = pd.read_sql(query, conn)

df['Year'] = pd.to_datetime(df['Date']).dt.year
df['Month'] = pd.to_datetime(df['Date']).dt.month
df['Day'] = pd.to_datetime(df['Date']).dt.day



print(df.info())

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21642 entries, 0 to 21641
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       21642 non-null  object
 1   Ticker_ID  21642 non-null  int64
 2   Ticker     21642 non-null  object
 3   Open       21642 non-null  float64
 4   High       21642 non-null  float64
 5   Low        21642 non-null  float64
 6   Close      21642 non-null  float64
 7   Volume     21642 non-null  float64
 8   Perc       21642 non-null  float64
 9   SP_Open    21642 non-null  float64
 10  SP_High    21642 non-null  float64
 11  SP_Low     21642 non-null  float64
 12  SP_Close   21642 non-null  float64
 13  SP_perc    21642 non-null  float64
 14  Year       21642 non-null  int64
 15  Month      21642 non-null  int64
 16  Day        21642 non-null  int64
dtypes: float64(11), int64(4), object(2)
memory usage: 2.8+ MB
None

,Date,Ticker_ID,Ticker,Open,High,Low,Close,Volume,Perc,SP_Open,SP_High,SP_Low,SP_Close,SP_perc,Year,Month,Day
0,2007-07-03,5,BOH,52.349998,52.779999,52.349998,52.639999,83000.0,0.007079,1524.869995,1526.01001,1519.119995,1524.869995,0.00358,2007,7,3
1,2007-07-03,4,DFS,27.500000,27.500000,26.150000,26.670000,8600100.0,-0.030182,1524.869995,1526.01001,1519.119995,1524.869995,0.00358,2007,7,3
2,2007-07-03,6,GS,220.339996,224.899994,219.990005,224.550003,4676800.0,0.024500,1524.869995,1526.01001,1519.119995,1524.869995,0.00358,2007,7,3
3,2007-07-03,1,JPM,49.189999,49.580002,49.040001,49.340000,7444000.0,0.003866,1524.869995,1526.01001,1519.119995,1524.869995,0.00358,2007,7,3
4,2007-07-03,3,NYCB,17.389999,17.410000,17.190001,17.250000,1308800.0,-0.003466,1524.869995,1526.01001,1519.119995,1524.869995,0.00358,2007,7,3

In [12]:

#df['C_weighted'] = df.groupby('Ticker')['Close'].ewm(alpha=0.3, adjust=True).mean().reset_index(0, drop = True) # using alpha parameter
df['C_weighted'] = df.groupby('Ticker')['Close'].ewm(alpha=0.5, adjust=True).mean().reset_index(0, drop = True) # using alpha
#df['C_weighted'] = df.groupby('Ticker')['Close'].ewm(span = 10, adjust=True).mean().reset_index(0, drop = True) # using span parameter

In [13]:
df[:10]

,Date,Ticker_ID,Ticker,Open,High,Low,Close,Volume,Perc,SP_Open,SP_High,SP_Low,SP_Close,SP_perc,Year,Month,Day,C_weighted
0,2007-07-03,5,BOH,52.349998,52.779999,52.349998,52.639999,83000.0,0.007079,1524.869995,1526.010010,1519.119995,1524.869995,0.003580,2007,7,3,52.639999
1,2007-07-03,4,DFS,27.500000,27.500000,26.150000,26.670000,8600100.0,-0.030182,1524.869995,1526.010010,1519.119995,1524.869995,0.003580,2007,7,3,26.670000
2,2007-07-03,6,GS,220.339996,224.899994,219.990005,224.550003,4676800.0,0.024500,1524.869995,1526.010010,1519.119995,1524.869995,0.003580,2007,7,3,224.550003
3,2007-07-03,1,JPM,49.189999,49.580002,49.040001,49.340000,7444000.0,0.003866,1524.869995,1526.010010,1519.119995,1524.869995,0.003580,2007,7,3,49.340000
4,2007-07-03,3,NYCB,17.389999,17.410000,17.190001,17.250000,1308800.0,-0.003466,1524.869995,1526.010010,1519.119995,1524.869995,0.003580,2007,7,3,17.250000
5,2007-07-03,2,SNV,95.904503,96.975899,95.567802,96.333099,227700.0,0.012875,1524.869995,1526.010010,1519.119995,1524.869995,0.003580,2007,7,3,96.333099
6,2007-07-05,5,BOH,52.500000,52.740002,52.270000,52.560001,82000.0,-0.001520,1525.400024,1526.569946,1517.719971,1525.400024,0.000348,2007,7,5,52.586667
7,2007-07-05,4,DFS,26.250000,26.920000,25.740000,25.930000,8422000.0,-0.027747,1525.400024,1526.569946,1517.719971,1525.400024,0.000348,2007,7,5,26.176667
8,2007-07-05,6,GS,224.289993,224.289993,221.199997,221.320007,5385600.0,-0.014384,1525.400024,1526.569946,1517.719971,1525.400024,0.000348,2007,7,5,222.396673
9,2007-07-05,1,JPM,49.099998,49.349998,48.650002,48.790001,11613000.0,-0.011147,1525.400024,1526.569946,1517.719971,1525.400024,0.000348,2007,7,5,48.973334

In [14]:
### add comparison column
import numpy as np

df['comparison'] = np.where(df['Perc'] > df['SP_perc'], 1, 0)
df.loc[df['Ticker'] == 'JPM', 'Market'] = 'Large'
df.loc[df['Ticker'] == 'GS', 'Market'] = 'Large'
df.loc[df['Ticker'] == 'NYCB', 'Market'] = 'Small'
df.loc[df['Ticker'] == 'BOH', 'Market'] = 'Small'
df.loc[df['Ticker'] == 'DFS', 'Market'] = 'Mid'
df.loc[df['Ticker'] == 'SNV', 'Market'] = 'Mid'

In [15]:

df['Perc_diff'] = df['Perc'] - df['SP_perc'] # create new column made from difference between Perc and SP_perc
df['Diff1'] = df.groupby(['Ticker'])['Perc_diff'].shift(1) # get the previous day's difference between Perc and SP_perc
df['Diff2'] = df.groupby(['Ticker'])['Perc_diff'].shift(2) # get 2 day's previous difference between Perc and SP_perc
df['Diff3'] = df.groupby(['Ticker'])['Perc_diff'].shift(3) # get 3 day's previous difference between Perc and SP_perc
df['Diff4'] = df.groupby(['Ticker'])['Perc_diff'].shift(4) # get 4 day's previous difference between Perc and SP_perc
df['Diff5'] = df.groupby(['Ticker'])['Perc_diff'].shift(5) # get 5 day's previous difference between Perc and SP_perc

df.head()

,Date,Ticker_ID,Ticker,Open,High,Low,Close,Volume,Perc,SP_Open,...,Day,C_weighted,comparison,Market,Perc_diff,Diff1,Diff2,Diff3,Diff4,Diff5
0,2007-07-03,5,BOH,52.349998,52.779999,52.349998,52.639999,83000.0,0.007079,1524.869995,...,3,52.639999,1,Small,0.003498,NaN,NaN,NaN,NaN,NaN
1,2007-07-03,4,DFS,27.500000,27.500000,26.150000,26.670000,8600100.0,-0.030182,1524.869995,...,3,26.670000,0,Mid,-0.033762,NaN,NaN,NaN,NaN,NaN
2,2007-07-03,6,GS,220.339996,224.899994,219.990005,224.550003,4676800.0,0.024500,1524.869995,...,3,224.550003,1,Large,0.020920,NaN,NaN,NaN,NaN,NaN
3,2007-07-03,1,JPM,49.189999,49.580002,49.040001,49.340000,7444000.0,0.003866,1524.869995,...,3,49.340000,1,Large,0.000285,NaN,NaN,NaN,NaN,NaN
4,2007-07-03,3,NYCB,17.389999,17.410000,17.190001,17.250000,1308800.0,-0.003466,1524.869995,...,3,17.250000,0,Small,-0.007046,NaN,NaN,NaN,NaN,NaN

In [16]:
df[25:35] # find where the NaN's stop

,Date,Ticker_ID,Ticker,Open,High,Low,Close,Volume,Perc,SP_Open,...,Day,C_weighted,comparison,Market,Perc_diff,Diff1,Diff2,Diff3,Diff4,Diff5
25,2007-07-10,4,DFS,25.600000,25.650000,24.799999,24.900000,8.591800e+06,-0.025059,1510.119995,...,10,25.284194,0,Mid,-0.010873,-0.004821,-0.014488,-0.028094,-0.033762,NaN
26,2007-07-10,6,GS,220.990005,222.699997,216.520004,217.080002,7.960500e+06,-0.027855,1510.119995,...,10,220.046131,0,Large,-0.013669,-0.002442,0.007178,-0.014732,0.020920,NaN
27,2007-07-10,1,JPM,48.299999,48.570000,47.459999,47.509998,2.188180e+07,-0.026235,1510.119995,...,10,48.170322,0,Large,-0.012049,-0.004597,0.000385,-0.011495,0.000285,NaN
28,2007-07-10,3,NYCB,17.469999,17.549999,17.120001,17.170000,2.197450e+06,-0.023877,1510.119995,...,10,17.352581,0,Small,-0.009692,-0.002057,0.008765,0.008348,-0.007046,NaN
29,2007-07-10,2,SNV,94.618797,94.863701,93.118896,93.180099,4.622922e+05,-0.023733,1510.119995,...,10,94.342326,0,Mid,-0.009548,-0.004118,0.000225,-0.009881,0.009294,NaN
30,2007-07-11,5,BOH,50.349998,50.700001,50.299999,50.580002,2.008000e+05,0.002180,1518.760010,...,11,50.899049,0,Small,-0.003542,-0.007903,-0.017499,-0.004826,-0.001867,0.003498
31,2007-07-11,4,DFS,25.020000,25.270000,24.750000,25.209999,1.025140e+07,0.012450,1518.760010,...,11,25.246507,1,Mid,0.006728,-0.010873,-0.004821,-0.014488,-0.028094,-0.033762
32,2007-07-11,6,GS,216.979996,219.000000,214.649994,216.720001,8.924700e+06,-0.001658,1518.760010,...,11,218.356668,0,Large,-0.007380,-0.013669,-0.002442,0.007178,-0.014732,0.020920
33,2007-07-11,1,JPM,47.520000,48.439999,47.119999,48.130001,2.723250e+07,0.013050,1518.760010,...,11,48.149842,1,Large,0.007329,-0.012049,-0.004597,0.000385,-0.011495,0.000285
34,2007-07-11,3,NYCB,17.170000,17.230000,17.020000,17.080000,2.386400e+06,-0.005242,1518.760010,...,11,17.214127,0,Small,-0.010963,-0.009692,-0.002057,0.008765,0.008348,-0.007046

**Machine Learning Model 1. Model performs pretty well but does not use all features that we created for the ML model**

In [46]:
df_ml = df[12:] # model1 with fewer columns

y = df_ml.comparison
X = df_ml.drop(['comparison'], axis = 1)
X = X.drop(['SP_perc'], axis = 1) # drop SP_perc from model

dummies = pd.get_dummies(X['Market'], drop_first = True) # get dummies for Market column
X = pd.merge(X, dummies, left_index = True, right_index = True)

X = X.drop(['Ticker', 'Ticker_ID', 'Market', 'Date'], axis = 1) # drop non-numeric columns

X = X.drop(['Diff3', 'Diff4', 'Diff5'], axis = 1) # for model1 with fewer columns
X = X.drop(['Month', 'Day'], axis = 1) # for model1 with fewer columns

X = X.drop(['High', 'Low', 'Close', 'Open'], axis = 1) # drop banking stock price data since the weighted moving average uses Close
X = X.drop(['SP_Close', 'SP_High', 'SP_Low', 'SP_Open'], axis = 1) # drop SP price data since the models with it included perform poorly


X = X.drop(['Perc_diff'], axis = 1) # drop Perc_diff from model
X = X.drop(['Volume'], axis = 1) # drop Volume
X = X.drop(['Year'], axis = 1) # drop Year


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

X_train

           Perc  C_weighted     Diff1     Diff2  Mid  Small
11752 -0.002934   17.006468  0.006934 -0.008720    0      1
17628 -0.015666   82.240649  0.005003  0.002069    0      1
7376  -0.011405   98.359290 -0.012318  0.006748    0      0
6681   0.084384   29.871993 -0.022790 -0.005364    0      0
15910  0.016974   13.551389  0.033100  0.007146    0      1
...         ...         ...       ...       ...  ...    ...
13135 -0.010777   48.682495  0.001613  0.006303    1      0
19660  0.024390    9.645518 -0.025954 -0.015882    0      1
9857   0.000000   24.968420 -0.010899 -0.000495    1      0
10811 -0.002896   24.077751  0.003521 -0.000195    1      0
2744  -0.003298  121.101928 -0.029093  0.009332    0      0

[17304 rows x 6 columns]

In [47]:
X_train.corr()

                Perc  C_weighted     Diff1     Diff2       Mid     Small
Perc        1.000000    0.002024 -0.048117 -0.015963  0.000050 -0.001878
C_weighted  0.002024    1.000000  0.003790  0.007771 -0.306745 -0.347406
Diff1      -0.048117    0.003790  1.000000 -0.040449  0.006171 -0.011685
Diff2      -0.015963    0.007771 -0.040449  1.000000  0.009219 -0.011988
Mid         0.000050   -0.306745  0.006171  0.009219  1.000000 -0.498304
Small      -0.001878   -0.347406 -0.011685 -0.011988 -0.498304  1.000000

In [48]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression


grid={"C":np.logspace(-4,4,10), "penalty":["l1","l2"]}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg, grid, cv=10)

logreg_cv.fit(X_train, y_train)

print("Best Parameters ", logreg_cv.best_params_)

print("Accuracy :", logreg_cv.best_score_)

Best Parameters  {'C': 10000.0, 'penalty': 'l2'}
Accuracy : 0.8231622604461986

In [49]:
## Model with 2 Differences, Month, Day, C_weighted, Perc, Mid, Small
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(C = 10000.0, penalty='l2').fit(X_train, y_train)

clf.score(X_test, y_test)

0.8106796116504854

In [50]:
y_true = list(y_test)
y_pred = clf.predict(X_test)

from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_true, y_pred)
print(conf_mat)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_true, y_pred))

[[1806  390]
 [ 429 1701]]
0.6212679315832134

In [22]:
# import pickle

# with open('Capstone_ML', 'wb') as files:
#     pickle.dump(clf, files)

**Model 2 is the one used in the final project. It includes 5 days' worth of differences between the perc change column and the S&P percent change column, need to drop more rows that include NaN for the shifted columns**

In [51]:
df_ml2 = df[30:] # model 2 with more columns (and more NA rows)


y2 = df_ml2.comparison
X2 = df_ml2.drop(['comparison'], axis = 1)
X2 = X2.drop(['SP_perc'], axis = 1) # drop SP_perc from model

dummies = pd.get_dummies(X2['Market'], drop_first = True) # get dummies for Market column
X2 = pd.merge(X2, dummies, left_index = True, right_index = True)

X2 = X2.drop(['Ticker', 'Ticker_ID', 'Market', 'Date'], axis = 1) # drop non-numeric columns


X2 = X2.drop(['High', 'Low', 'Close', 'Open'], axis = 1) 
X2 = X2.drop(['SP_Close', 'SP_High', 'SP_Low', 'SP_Open'], axis = 1)


X2 = X2.drop(['Perc_diff'], axis = 1) # drop Perc_diff from model
X2 = X2.drop(['Volume'], axis = 1) # drop Volume
X2 = X2.drop(['Year'], axis = 1) # drop Year


from sklearn.model_selection import train_test_split

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size = 0.2, random_state = 0)

X2_train

,Perc,Month,Day,C_weighted,Diff1,Diff2,Diff3,Diff4,Diff5,Mid,Small
11764,-0.001761,4,16,17.016617,-0.002205,-0.004564,0.006934,-0.008720,-0.005043,0,1
19053,0.000000,2,12,137.840885,0.000199,-0.003171,0.002203,-0.003180,0.005750,0,0
14435,0.007071,1,20,41.182234,-0.001244,0.020563,-0.034521,0.012439,-0.019187,1,0
6935,0.011494,2,1,12.248041,0.006237,-0.014523,0.007307,0.000065,0.008670,1,0
2804,-0.027294,5,11,136.505517,0.019751,-0.026232,0.012329,0.011544,0.021845,0,0
...,...,...,...,...,...,...,...,...,...,...,...
13153,0.013923,3,17,49.144062,-0.002932,0.003070,-0.009516,0.001613,0.006303,1,0
19678,0.023736,7,13,9.755690,0.027007,-0.027483,0.016563,-0.025954,-0.015882,0,1
9875,0.014245,1,14,24.838552,-0.001469,-0.002307,-0.000348,-0.010899,-0.000495,1,0
10829,0.011594,9,2,24.264719,0.002092,-0.001630,-0.002946,0.003521,-0.000195,1,0
2762,0.010379,4,30,126.266491,0.032339,0.000838,0.006769,-0.029093,0.009332,0,0

In [52]:
# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import LogisticRegression

#import warnings
warnings.filterwarnings('ignore')

grid={"C":np.logspace(-4,4,10), "penalty":["l1","l2"]}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg, grid, cv=10)

logreg_cv.fit(X2_train, y2_train)

print("Best Parameters ", logreg_cv.best_params_)

print("Accuracy :", logreg_cv.best_score_)

Best Parameters  {'C': 166.81005372000558, 'penalty': 'l2'}
Accuracy : 0.8231821875736349

In [23]:
#### model with 5 Differences and Month, Day
from sklearn.linear_model import LogisticRegression

clf2 = LogisticRegression(C = 166.81005372000558, penalty='l2').fit(X2_train, y2_train)

clf2.score(X2_test, y2_test)

0.8191071015498497

In [41]:
y_true = list(y2_test)
y_pred = clf2.predict(X2_test)

from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_true, y_pred)
print(conf_mat)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_true, y_pred))

[[1790  403]
 [ 379 1751]]
0.6382352557672822

In [ ]:
# import pickle

# with open('Capstone_ML2', 'wb') as files:
#     pickle.dump(clf2, files)

**Model 3 Includes Volume in model. Example of models that did not give good results as the inclusion of Volume always gave poor results in ML model**

In [53]:
df_ml3 = df[30:] # model 2 with more columns (and more NA rows)


y3 = df_ml3.comparison
X3 = df_ml3.drop(['comparison'], axis = 1)
X3 = X3.drop(['SP_perc'], axis = 1) # drop SP_perc from model

dummies = pd.get_dummies(X3['Market'], drop_first = True) # get dummies for Market column
X3 = pd.merge(X3, dummies, left_index = True, right_index = True)

X3 = X3.drop(['Ticker', 'Ticker_ID', 'Market', 'Date'], axis = 1) # drop non-numeric columns


X3 = X3.drop(['High', 'Low', 'Close', 'Open'], axis = 1) 
X3 = X3.drop(['SP_Close', 'SP_High', 'SP_Low', 'SP_Open'], axis = 1)


X3 = X3.drop(['Perc_diff'], axis = 1) # drop Perc_diff from model
#X3 = X3.drop(['Volume'], axis = 1) # drop Volume
X3 = X3.drop(['Year'], axis = 1) # drop Year


from sklearn.model_selection import train_test_split

X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size = 0.2, random_state = 0)

X3_train

,Volume,Perc,Month,Day,C_weighted,Diff1,Diff2,Diff3,Diff4,Diff5,Mid,Small
11764,2.194805e+06,-0.001761,4,16,17.016617,-0.002205,-0.004564,0.006934,-0.008720,-0.005043,0,1
19053,7.958000e+06,0.000000,2,12,137.840885,0.000199,-0.003171,0.002203,-0.003180,0.005750,0,0
14435,5.037680e+05,0.007071,1,20,41.182234,-0.001244,0.020563,-0.034521,0.012439,-0.019187,1,0
6935,1.278382e+06,0.011494,2,1,12.248041,0.006237,-0.014523,0.007307,0.000065,0.008670,1,0
2804,1.839180e+07,-0.027294,5,11,136.505517,0.019751,-0.026232,0.012329,0.011544,0.021845,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
13153,2.993900e+06,0.013923,3,17,49.144062,-0.002932,0.003070,-0.009516,0.001613,0.006303,1,0
19678,6.104078e+06,0.023736,7,13,9.755690,0.027007,-0.027483,0.016563,-0.025954,-0.015882,0,1
9875,8.907356e+05,0.014245,1,14,24.838552,-0.001469,-0.002307,-0.000348,-0.010899,-0.000495,1,0
10829,1.128329e+06,0.011594,9,2,24.264719,0.002092,-0.001630,-0.002946,0.003521,-0.000195,1,0
2762,2.483460e+07,0.010379,4,30,126.266491,0.032339,0.000838,0.006769,-0.029093,0.009332,0,0

In [54]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

#import warnings
warnings.filterwarnings('ignore')

grid={"C":np.logspace(-4,4,10), "penalty":["l1","l2"]}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg, grid, cv=10)

logreg_cv.fit(X3_train, y3_train)

print("Best Parameters ", logreg_cv.best_params_)

print("Accuracy :", logreg_cv.best_score_)

Best Parameters  {'C': 0.0001, 'penalty': 'l2'}
Accuracy : 0.5100352711372448

In [40]:
from sklearn.linear_model import LogisticRegression

clf3 = LogisticRegression(C = 0.0001, penalty='l2').fit(X3_train, y3_train)

clf3.score(X3_test, y3_test)

0.5072866065232478

In [45]:
y_true = list(y3_test)
y_pred = clf3.predict(X3_test)

from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_true, y_pred)
print(conf_mat)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_true, y_pred))

[[2193    0]
 [2130    0]]
0.0

C:\Users\Caitlin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:870: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)